@mixin full{
    width: 100%;
    height: auto;
}

@mixin absolute-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
}

@mixin text-center {
    text-align: center;
}

@mixin center-vertical-horizontal {
    display: flex;
    align-self: center;
    justify-content: center;
}

@mixin grid-text {
    grid-column: 1/13;
    color: $owgrey;
    font-size: 1.2em;
}

@mixin grid-image {
    grid-column: 1/13;
}

@mixin transition($speed) {
    transition: all $speed ease-out;    
}

